<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Wikipedia Search</h1>
        <form action="/search" method="post">
            <input type="text" name="query" placeholder="Search on Wikipedia...">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
